<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to KeyBox!</h1>
        <p>{{ message }}</p>
        <p>Keep your keys in a place safer than your mind</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Key 1</h2>
            <p>All your keys safe behind another unique key!
            </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Key 2</h2>
            <p>Organize all the keys you use on a daily basis</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Key 3</h2>
            <p>Safer than having the same key on every service</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Smart Cities II - EETAC - UPC</p>
    </footer>
</div> <!-- /container -->
