<div class="jumbotron text-center">
    <h2>Keys Management</h2>
    <br>
    <div class="container">

    <div class="row">

        <div class="col-sm-6 text-center">
            <form name="myForm">
                <h3>{{ message }}</h3>
                <div class="form-group">
                    <a>TAG</a>
                    <input type="text" class="form-control input-lg text-center" placeholder="TAG" ng-model="key.tag" required>
                    <a>Comment</a>
                    <input type="text" class="form-control input-lg text-center" placeholder="Comment" ng-model="key.comment" required>
                    <a>Username</a>
                    <input type="text" class="form-control input-lg text-center" placeholder="Username" ng-model="key.username" required>
                    <a>Password</a>
                    <input type="text" class="form-control input-lg text-center" placeholder="Password" ng-model="key.password" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-success btn-lg" ng-click="addkey()" ng-disabled="myForm.$invalid || t == 1 || n == 1 || t > n">Add Key</button>
                    <button type="submit" class="btn btn-danger btn-lg" ng-click="removeKey()" ng-disabled="myForm.$invalid || t == 1 || n == 1 || t > n">Delete Key</button>
                </div>

            </form>
        </div>
        <div class="col-sm-6">
            <h3>Your keys</h3>
        <table class="table table-striped" style='table-layout:fixed'>
             <tr class="info">
                <td>TAG</td>
                <td> Comment </td>
             </tr>
            <tr ng-repeat="key in keys" ng-click="selectKey(key)">
                <td>{{ key.tag}}</td>
                <td>{{ key.comment }}</td>
            </tr>
        </table>
        </div>
    </div>
</div>
    <!--<br><br>
    <div class="col-sm-6">
        <table class="table table-striped" style='table-layout:fixed'>
            <tr class="info">
                <td>TAG</td>
                <td> Comment </td>
                <td> Username </td>
                <td> Password </td>
            </tr>
            <tr ng-repeat="decryptKey in decryptKeys">
                <td>{{ decryptKey.tag}}</td>
                <td>{{ decryptKey.comment }}</td>
                <td>{{ decryptKey.username }}</td>
                <td>{{ decryptKey.password }}</td>
            </tr>
        </table>
    </div>-->

</div>