<div class="container" style="width: 300px; align-content: center">
    <form class="form-signin" style="text-align: left">
        <h2 class="form-signin-heading" style="text-align: center">Sign UP with alias</h2>
        <input type="text" class="form-control" placeholder="Alias" autofocus style="margin-bottom: 5px">
        <input type="password" class="form-control" placeholder="Password" autofocus style="margin-bottom: 5px">
        <input type="password" class="form-control" placeholder="Repite password" autofocus style="margin-bottom: 5px">
        <input type="text" class="form-control" placeholder="Signed Public Key" autofocus style="margin-bottom: 5px">
        <h4 class="form-signin-heading" style="text-align: center">Introduce private key values</h4>
        <input type="text" class="form-control" placeholder="p" autofocus style="margin-bottom: 5px" ng-model="">
        <input type="text" class="form-control" placeholder="q" autofocus style="margin-bottom: 5px">
        <input type="text" class="form-control" placeholder="d" autofocus style="margin-bottom: 5px">

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register()">Sign Up</button>
    </form>
    <br>
    <form class="form-signin" style="text-align: right">
        <h4 class="form-signin-heading" style="text-align: center">Generate signed public key</h4>
        <h5 class="form-signin-heading" style="text-align: center">Introduce public key value</h5>
        <input type="text" class="form-control" placeholder="Public Key" autofocus style="margin-bottom: 5px">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="sign()">Sign</button>
        <table class="table table-striped" style='table-layout:fixed'>
            <tr class="info">
                <td style="text-align: center"><b>Signed public key</b></td>
            </tr>
            <tr>
                <td>{{signed}}<br><button class="btn btn-lg" style='table-layout:fixed' clipboard supported="supported" text="signed" on-copied="success()" on-error="fail(err)">Copiar</button></td>
                <!--<td><button class="btn btn-lg" style='table-layout:fixed' clipboard supported="supported" text="share" on-copied="success()" on-error="fail(err)">Copiar</button></td>        <!--<td><button ng-click="deleteStudent(student._id)">x</button></td>-->
            </tr>
        </table>
    </form>
</div> <!-- /container -->