<div class="container" style="width: 300px; align-content: center">

    <form class="form-signin" ng-hide="signupI">
        <h2 class="form-signin-heading" style="text-align: center">Sign UP</h2>
        <input type="text" class="form-control" placeholder="Email address" autofocus style="margin-bottom: 5px" ng-model="signup.mail">
        <input type="text" class="form-control" placeholder="Username" ng-model="signup.user">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signI()">Sign Up</button>
    </form>

    <form ng-hide="signupII">
        <h2 style="text-align: center">Claves usuario</h2>
        <br>
        <h4 style="text-align: center">Clave privada</h4>
        <table class="table table-striped" style='table-layout:fixed'>
            <tr class="info">
                <td style="text-align: center"><b>p</b></td>
            </tr>
            <tr>
                <td>{{p}}</td>
                <!--<td><button class="btn btn-lg" style='table-layout:fixed' clipboard supported="supported" text="share" on-copied="success()" on-error="fail(err)">Copiar</button></td>        <!--<td><button ng-click="deleteStudent(student._id)">x</button></td>-->
            </tr>
            <tr class="info">
                <td style="text-align: center"><b>q</b></td>
            </tr>
            <tr>
                <td>{{q}}</td>
                <!--<td><button class="btn btn-lg" style='table-layout:fixed' clipboard supported="supported" text="share" on-copied="success()" on-error="fail(err)">Copiar</button></td>        <!--<td><button ng-click="deleteStudent(student._id)">x</button></td>-->
            </tr>
            <tr class="info">
                <td style="text-align: center"><b>d</b></td>
            </tr>
            <tr>
                <td>{{d}}</td>
                <!--<td><button class="btn btn-lg" style='table-layout:fixed' clipboard supported="supported" text="share" on-copied="success()" on-error="fail(err)">Copiar</button></td>        <!--<td><button ng-click="deleteStudent(student._id)">x</button></td>-->
            </tr>
         </table>
        <h4 style="text-align: center">Clave pública</h4>
        <table class="table table-striped" style='table-layout:fixed'>
            <tr class="info">
                <td style="text-align: center"><b>n</b></td>
            </tr>
            <tr>
                <td>{{n}}</td>
                <!--<td><button class="btn btn-lg" style='table-layout:fixed' clipboard supported="supported" text="share" on-copied="success()" on-error="fail(err)">Copiar</button></td>        <!--<td><button ng-click="deleteStudent(student._id)">x</button></td>-->
            </tr>
        </table>

    </form>
</div> <!-- /container -->