<div class="container" style="width: 300px; align-content: center">

    <form class="form-signin" ng-hide="signupI">
        <h2 class="form-signin-heading" style="text-align: center">Sign UP</h2>
        <input type="text" class="form-control" placeholder="Email address" autofocus style="margin-bottom: 5px" ng-model="signup.mail">
        <input type="text" class="form-control" placeholder="Username" ng-model="signup.user">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signI()">Sign Up</button>
    </form>

    <form ng-hide="signupII">
        <h2 style="text-align: center">Claves usuario</h2>
         <table class="table table-striped" style='table-layout:fixed'>
                <tr class="info">
                    <td>Clave privada</td>
                    <td>Clave pública</td>
                </tr>
                <tr>
                    <td>"Hola"</td>
                    <td><button class="btn btn-lg" style='table-layout:fixed' clipboard supported="supported" text="share" on-copied="success()" on-error="fail(err)">Copiar</button></td>        <!--<td><button ng-click="deleteStudent(student._id)">x</button></td>-->
                    <td>"hola"</td>
                    <td><button class="btn btn-lg" style='table-layout:fixed' clipboard supported="supported" text="share" on-copied="success()" on-error="fail(err)">Copiar</button></td>        <!--<td><button ng-click="deleteStudent(student._id)">x</button></td>-->
                </tr>
            </table>
    </form>
</div> <!-- /container -->